@mixin btn-theme($base) {
    font-size: 20px;
    padding: $base*1 $base*3;
    border-radius: 8px;
}
@mixin shadow-theme($base) {
    box-shadow: $base * 1px $base * 1px $base * 2px $color-white-2, $base * -1px $base * -1px $base * 2px $color-white-3;
}