// variable

@import"./variables";

.container {
    width: 80%;
}

// mixin
@import"./mixin";

header{
    background: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            margin-right: 15px;
            text-decoration: none;
            color: $color-blue-2;
            transition: 0.3s;
            position: relative;
            &:hover {
                color: $color-blue-1;
            }
            &::before{
                content: "";
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                width: 0%;
                height: 2px;
                background-color: $color-blue-1;
                transition: 0.3s;
            }
            &:hover::before{
                width: 100%;
            }
        }
        .logo{
            color:$color-blue-1;

        }
    }
}

.banner{
    background-image: url(../image/product-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .infor{
        h2{
            color: $color-blue-1;
        }
        h3{
            color: $color-blue-2;
        }
        .btn-infor{
            border: 2px solid $color-blue-1;
            color: $color-blue-1;
            @include btn-theme(15px);
        }
        .btn-shop{
            background:linear-gradient(120deg,$color-blue-3,$color-blue-1);
            color: $color-white-3 ;
            @include btn-theme(17px);
        }
    }
}

.products{
    padding: 80px 0px;
    h2.title{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: $color-blue-2;
        margin-bottom: 50px;
    }
    .list{
        .item{
            @include shadow-theme(6);
            border-radius: 8px;
            padding: 30px;
        .wrapper {
                img{
                    @include shadow-theme(6);
                    border-radius: 8px;
                }
                .desc{
                    padding-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    .price{
                        text-align: right;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                    }
                    button{
                        @include shadow-theme(6);
                        border-radius: 4px;
                        padding: 5px 15px;
                        font-size: 12px;
                        color: $color-blue-1;
                    }
                }
            }
        }
    }
}